/* Font-family declare */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
}

/* Navigation portion starts */
.navigation {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 150px;
}

.name {
    font-size: 30px;
    font-weight: 800px;
}

.resume {
    width: 220px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600px;
    background-color: white;
    border-color: black;
}

/* Navigation portion ends */


/* Shared class */

.Opacity {
    opacity: 0.7;
}

/* Banner-portion starts*/
.banner {
    max-width: 100%;
    min-height: 650px;
    background-image: url(../assets/Hero-bg.png);

}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-img {
    margin-top: 25px;
    margin-bottom: 30px;
}

.banner-title {
    font-size: 45px;
    font: weight 800;
    text-align: center;
    margin-bottom: 24px;
}

.banner-paragraph {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 30px;
}

.banner-btn {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border-color: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: black;
    margin-bottom: 44px;
}

/* Banner-portion ends*/


/* Why Web Development portion starts */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Upper border */
.part1 {
    margin-top: 75px;
    height: 1330px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 15px;
}

/* Inside border */
.part2 {
    width: 945px;
    height: 1235px;
    margin: 80px 95px;
}

/* Top information */
.reason {
    margin-bottom: 50px;
}

.reason h3 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 24px;
}

.reason p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* 3-parts */
.web1,
.web2,
.web3 {
    display: flex;
    justify-content: space-between;
    padding: 48px 48px;
}

.web1,
.web2,
.web3>h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.web1,
.web2,
.web3>p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.web1,
.web2 {
    margin-bottom: 40px;
}

/* Button portion for why web dev */
.primarybtn {
    width: 150px;
    height: 48px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    border-color: black;
    margin-top: 32px;
}

/* Why Web Development portion ends */


/* My inspiration portion starts */

.inspiration-border {
    height: 850px;
    margin-top: 90px;
    text-align: center;
}

.inspiration-border h3 {
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 24px;
}

.inspiration-border p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.vidborder {
    border: 1px solid grey;
    max-width: 1140px;
    height: 610px;
    border-radius: 15px;
}

.video {
    width: 1076px;
    height: 550px;
    border-radius: 50px;
    padding: 35px;
}

/* My inspiration portion ends */


/* My current target starts */

.target-border {
    margin-top: 150px;
    height: 460px;
}

.target {
    margin-top: 0px;
    text-align: center;
    padding: 0px 150px;
}

.target h3 {
    margin-top: 0;
    font-size: 32px;
    font-weight: 800;
}

.target p {
    font-size: 16px;
    font-weight: 400;
}

.HCJ {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.b1,
.b2,
.b3 {
    border-radius: 15px;
    width: 365px;
    max-height: 500px;
}

.b1 {
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;

}

.b2 {
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
}

.b3 {
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

.HCJ a {
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}

.HCJ h4 {
    font-size: 24px;
    font-weight: 800;
}

.HCJ p {
    font-size: 16px;
    font-weight: 400;
}

/* My current target ends */




/* Support portion starts */

.Support {
    margin-top: 70px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px 48px 64px 48px;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    border-radius: 20px;
    margin-bottom: 80px;
}

.internal {
    height: 185px;
    width: 1044px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 64px 48px 64px 48px;
}

.opinion {
    color: white;
}

.opinion h3 {
    margin-top: 0px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.opinion p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.feedback {
    width: 548px;
    height: 57px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    border-color: none;
    padding-left: 15px;
}

.feedfront {
    width: 120px;
    height: 60px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    border-color: none;
}

/* Support portion ends */


/* Footer section starts here */

footer {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot {
    width: 1140px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.commitment {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}